# Calculating loyalty points

"ABC is a real-money online gaming company providing multiplayer games such as Ludo. An user can register as a player, 
deposit money in the platform and play games with other players on the platform. 

If he/she wins the game then they can withdraw the winning amount while the platform charges a nominal fee for the services.
 
To retain players on the platform, the company ABC gives loyalty points to their players based on their activity on the platform.
 
Loyalty points are calculated on the basis of the number of games played, deposits and withdrawal made on the platform by a particular player.
 
The criteria to convert number of games played, deposits and withdrawal into points is given as below :"

On each day, there are 2 slots for each of which the loyalty points are to be calculated:
S1 from 12am to 12pm 
S2 from 12pm to 12am

"Based on the above information and the data provided answer the following questions:

1. Find Playerwise Loyalty points earned by Players in the following slots:-
    a. 2nd October Slot S1
    b. 16th October Slot S2
    b. 18th October Slot S1
    b. 26th October Slot S2
    
2. Calculate overall loyalty points earned and rank players on the basis of loyalty points in the month of October. 
     In case of tie, number of games played should be taken as the next criteria for ranking.
     
3. What is the average deposit amount?
4. What is the average deposit amount per user in a month?
5. What is the average number of games played per user?"

In [1]:
#import libraries like pandas and numpy for data munipulation

import pandas as pd 
import numpy as np

In [3]:
user = pd.read_csv("user_gameplay.csv")       #loading user game played dataset
dep = pd.read_csv("deposite.csv")             #loading deposite dataset    
withdrawal = pd.read_csv("withdrawal.csv")    #lading withdrawal dataset

In [4]:
#converting the datetime from object to datetime 

user['Datetime'] = pd.to_datetime(user['Datetime'])
dep['Datetime'] = pd.to_datetime(dep['Datetime'])
withdrawal['Datetime'] = pd.to_datetime(withdrawal['Datetime'])

In [5]:
#divide the data set of user game played in Slot1 & Slot2 according to asked date  

S1_2oct_user = user[(user['Datetime'] >= '02/10/2022 00:00:00') & (user['Datetime'] <= '02/10/2022 12:00:00')]

S2_16oct_user = user[ (user['Datetime'] > '16-10-2022 12:00:00') & (user['Datetime'] < '17-10-2022 00:00:00')]

S1_18oct_user = user[ (user['Datetime'] > '18-10-2022 00:00:00') & (user['Datetime'] < '18-10-2022 12:00:00')]

S2_26oct_user =  user[ (user['Datetime'] > '26-10-2022 12:00:00') & (user['Datetime'] < '27-10-2022 00:00:00')]

In [6]:
#divide the data set of user deposite in Slot1 & Slot2 according to asked date 

S1_2oct_dep = dep[ (dep['Datetime'] > '02-10-2022 00:00:00') & (dep['Datetime'] < '02-10-2022 12:00:00')]

S2_16oct_dep = dep[ (dep['Datetime'] > '16-10-2022 12:00:00') & (dep['Datetime'] < '17-10-2022  00:00:00')]

S1_18oct_dep = dep[ (dep['Datetime'] > '18-10-2022 00:00:00') & (dep['Datetime'] < '18-10-2022 12:00:00')]

S2_26oct_dep =  dep[ (dep['Datetime'] > '26-10-2022 12:00:00') & (dep['Datetime'] < '27/10/2022 00:00:00')]

In [7]:
#divide the data set of user withdrawal in Slot1 & Slot2 according to asked date 

S1_2oct_withdrawal = withdrawal[ (withdrawal['Datetime'] > '02-10-2022 00:00:00') & (withdrawal['Datetime'] < '02-10-2022 12:00:00')]

S2_16oct_withdrawal = withdrawal[ (withdrawal['Datetime'] > '16-10-2022 12:00:00') & (withdrawal['Datetime'] < '17-10-2022  00:00:00')]

S1_18oct_withdrawal = withdrawal[ (withdrawal['Datetime'] > '18-10-2022 00:00:00') & (withdrawal['Datetime'] < '18-10-2022 12:00:00')]

S2_26oct_withdrawal =  withdrawal[ (withdrawal['Datetime'] > '26-10-2022 12:00:00') & (withdrawal['Datetime'] < '27/10/2022 00:00:00')]

In [15]:
#finding loyalty points for Slot 1 2nd october 

sum_games_2 = S1_2oct_user.groupby(by = ['User ID'], as_index = False).agg({'Games Played': 'sum'}) #total games played by user in slot 1 

sum_dep_2 = S1_2oct_dep.groupby(by = ['User Id'], as_index = False).agg({'Amount':'sum'})

sum_withdraw_2 = S1_2oct_withdrawal.groupby(by = ['User Id'], as_index = False).agg({'Amount':'sum'})


Loyalty_points_2 = []

for i in S1_2oct_user['User ID']:
    total_games_played = sum_games_2[sum_games_2['User ID'] == i]['Games Played'].values 

    if i in S1_2oct_dep['User Id']:
        deposite = sum_dep_2[sum_dep_2['User Id']==i]['Amount'].values
    else:
        deposite = 0
    
    if i in S1_2oct_withdrawal['User Id']:
        withdraw = sum_withdraw_2[sum_withdraw_2['User Id']==i]['Amount'].values
    else:
        withdraw = 0
    
        
    Loyalty_points_2.append(((0.01*deposite) + (0.005*withdraw ) + (0.2*total_games_played)))
    
    
Loyalty_points_2 = pd.DataFrame(Loyalty_points_2, columns = ['Loyalty Points'], index = None)

Loyalty_points_S1 = Loyalty_points_2.assign(UserID = S1_2oct_user['User ID'].values)

print("Loyalty points in Slot 1 2nd October")
Loyalty_points_S1

Loyalty points in Slot 1 2nd October

      Loyalty Points  UserID
0                0.6     250
1                3.8     418
2               13.8     502
3                NaN     765
4                1.2       8
...              ...     ...
5840             NaN     659
5841             NaN     722
5842             9.6     922
5843             NaN     611
5844            11.6     989

[5845 rows x 2 columns]

In [16]:
#finding loyalty points for Slot 2 16 october 

sum_games_16 = S2_16oct_user.groupby(by = ['User ID'], as_index = False).agg({'Games Played': 'sum'}) #total games played by user in slot 1 

sum_dep_16 = S2_16oct_dep.groupby(by = ['User Id'], as_index = False).agg({'Amount':'sum'})

sum_withdraw_16 = S2_16oct_withdrawal.groupby(by = ['User Id'], as_index = False).agg({'Amount':'sum'})


Loyalty_points_16 = []

for i in S2_16oct_user['User ID']:
     
    total_games_played = sum_games_16[sum_games_16['User ID'] == i]['Games Played'].values     
    
    if i in S2_16oct_dep['User Id']:
        deposite = sum_dep_16[sum_dep_16['User Id']==i]['Amount'].values
    else:
        deposite = 0
    
    if i in S2_16oct_withdrawal['User Id']:
        withdraw = sum_withdraw_16[sum_withdraw_16['User Id']==i]['Amount'].values
    else:
        withdraw = 0
     
    
    Loyalty_points_16.append(((0.01*deposite) + (0.005*withdraw ) + (0.2*total_games_played)))
    
    
Loyalty_points_16 = pd.DataFrame(Loyalty_points_16, columns = ['Loyalty Points'], index = None)

Loyalty_points_S2 = Loyalty_points_16.assign(UserID = S2_16oct_user['User ID'].values)

print("Loyalty points in Slot 2 16th October")

Loyalty_points_S2

Loyalty points in Slot 2 16th October

      Loyalty Points  UserID
0                0.8     775
1               24.6     663
2                8.4     296
3                1.2     352
4               77.6     765
...              ...     ...
5621             3.4     391
5622             1.0     620
5623            10.2       9
5624            13.2      39
5625             2.8     927

[5626 rows x 2 columns]

In [17]:
#finding loyalty points for Slot 1 18 october 

sum_games_18 = S1_18oct_user.groupby(by = ['User ID'], as_index = False).agg({'Games Played': 'sum'}) #total games played by user in slot 1 

sum_dep_18 = S1_18oct_dep.groupby(by = ['User Id'], as_index = False).agg({'Amount':'sum'})

sum_withdraw_18 = S1_18oct_withdrawal.groupby(by = ['User Id'], as_index = False).agg({'Amount':'sum'})


Loyalty_points_18 = []

for i in S1_18oct_user['User ID']:
     
    total_games_played = sum_games_18[sum_games_18['User ID'] == i]['Games Played'].values     
    if i in S1_18oct_dep['User Id']:
        deposite = sum_dep_18[sum_dep_18['User Id']==i]['Amount'].values
    else:
        deposite = 0
    
    if i in S1_18oct_withdrawal['User Id']:
        withdraw = sum_withdraw_18[sum_withdraw_18['User Id']==i]['Amount'].values
    else:
        withdraw = 0
    
    
    
    Loyalty_points_18.append(((0.01*deposite) + (0.005*withdraw ) + (0.2*total_games_played)))
    
    
Loyalty_points_18 = pd.DataFrame(Loyalty_points_18, columns = ['Loyalty Points'], index = None)

Loyalty_points_S3 = Loyalty_points_18.assign(UserID = S1_18oct_user['User ID'].values)
print("Loyalty points in Slot 1 18th October")
Loyalty_points_S3

Loyalty points in Slot 1 18th October

      Loyalty Points  UserID
0                0.4     956
1               10.4     205
2                6.6     687
3                9.4     296
4                8.8      85
...              ...     ...
5804            12.0     828
5805            12.6     582
5806            18.2     218
5807             3.8     774
5808            21.4     449

[5809 rows x 2 columns]

In [18]:
#finding loyalty points for Slot 2 26 october 

sum_games_26 = S2_26oct_user.groupby(by = ['User ID'], as_index = False).agg({'Games Played': 'sum'}) #total games played by user in slot 1 

sum_dep_26 = S2_26oct_dep.groupby(by = ['User Id'], as_index = False).agg({'Amount':'sum'})

sum_withdraw_26 = S2_26oct_withdrawal.groupby(by = ['User Id'], as_index = False).agg({'Amount':'sum'})



Loyalty_points_26 = []

for i in S2_26oct_user['User ID']:
     
    total_games_played = sum_games_26[sum_games_26['User ID'] == i]['Games Played'].values
    
    if i in S2_26oct_dep['User Id']:
        deposite = sum_dep_26[sum_dep_26['User Id']==i]['Amount'].values
    else:
        deposite = 0
    
    if i in S2_26oct_withdrawal['User Id']:
        withdraw = sum_withdraw_26[sum_withdraw_26['User Id']==i]['Amount'].values
    else:
        withdraw = 0
    
    
    
    Loyalty_points_26.append(((0.01*deposite) + (0.005*withdraw ) + (0.2*total_games_played)))
    
    
Loyalty_points_26 = pd.DataFrame(Loyalty_points_26, columns = ['Loyalty Points'], index = None)

Loyalty_points_S4 = Loyalty_points_26.assign(UserID = S2_26oct_user['User ID'].values)
print("Loyalty points in Slot 2 26th October")
Loyalty_points_S4

Loyalty points in Slot 2 26th October

      Loyalty Points  UserID
0                2.0     270
1                3.4     753
2               11.8     722
3                3.8      31
4                8.2      16
...              ...     ...
5840             0.6     379
5841            11.0     237
5842             5.8      27
5843             2.6     168
5844             4.4     289

[5845 rows x 2 columns]

In [ ]:
#overall loyalty points:

sum_games= user.groupby(['User ID'], as_index = False).agg({'Games Played': 'sum'})

sum_dep = dep.groupby(by = ['User Id'], as_index = False).agg({'Amount':'sum'})

sum_withdraw = withdrawal.groupby(by = ['User Id'], as_index = False).agg({'Amount':'sum'})

Loyalty_points = []

for i in user['User ID']:
    
    total_games_played = sum_games[sum_games['User ID']==i]['Games Played']
    
    if i in dep['User Id']:
        deposite = dep[dep['User Id']==i]['Amount']
    else:
        deposite: 0
    
    if i in withdrawal['User Id']:
        withdraw = withdrawal[withdrawal['User Id']==i]['Amount']
    else:
        withdraw = 0

    Loyalty_points.append(((0.01*deposite) + (0.005*withdraw ) + (0.2*total_games_played)))


Loyalty_points = pd.DataFrame(Loyalty_points, columns = ['Loyalty Points'], index = None)

Loyalty_points = Loyalty_points.assign(UserID = user['User ID'].values)

Loyalty_points

# What is the average deposit amount?

In [19]:
# Average Deposite Amount among all players 

print("The average deposite Amount among all players is ", dep['Amount'].mean())

The average deposite Amount among all players is  5492.185399701801

# What is the average deposit amount per user in a month?

In [52]:
#Average Deposite amount per user in Month of October

dep_sum = sum(dep['Amount'])

no_of_user_dep = len(pd.unique(dep['User Id']))


avg_per_user = dep_sum/no_of_user_dep
print("Average deposite amount per user is ", avg_per_user)

Average deposite amount per user is  104669.64918032786

# What is the average number of games played per user?"

In [55]:
#Average games played per user

total_games = sum(user['Games Played'])

no_of_user = len(pd.unique(user['User ID']))

Avg_games  = total_games/no_of_user
print("Average games played per user", Avg_games)

Average games played per user 355.267